name: scroll_page_view
description: A new Flutter Scroll PageView package.support infinite swipe ã€ custom indicator.
version: 1.0.3
homepage: https://github.com/good-good-study/scroll_page_view

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  visibility_detector: ^0.3.3

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter: